; Added this to resolve an error when installing node modules ("ERESOLVE unable to resolve dependency tree"), caused by nivo
; Equivalent to running "npm install legacy-peer-deps", but since I don't manually install packages in Netlify I force it with this line:
legacy-peer-deps=true